<!DOCTYPE html>

<b><strong> Describe at least three common themes that you identified with links to the pages of other students showing these common elements.</strong></b>
<br>
<br>
<b><strong>Movies:</b></strong>
<br>
<p>The most common themes that I've seen in different assignments are thriller. Most people enjoy watching them on Netflix and HBO particularly. 
    I personally feel that movies are a way to feel less stressed and enjoy time while eating.
</p>
<br>
<b><strong>Music:</b></strong>
<br>
<p>Most people prefer to listen to music for emotional therapy and motivation in the Gym.
</p>
<br>
<b><strong>Social Media:</b></strong>
<br>
<p>There is a growing popularity amongst the Gen-z for Instagram and Tik-Tok.
</p>
<b><strong>Assignments I read while approaching the assignment</b></strong>
<br>
<a href="http://people.tamu.edu/~asees/index.html">Asees Sidhu</a>
<br>
<a href="https://sites.google.com/tamu.edu/matthewdelorenzo-csce445">Matthew DeLorenzo</a>
<br>
<a href="https://sites.google.com/tamu.edu/natalie-martinez-656/home">Natalie Martinez</a>
<br>
<a href="https://apoorvaa-05.github.io/index.html">Apoorva Sathe</a>
<br>
<a href="https://michaelmckinsey.net/portfolio/projects/csce_656.html">Michael McKinsey</a>
<br>
<br>
<b><strong> How would you revise your media categorization based on what you read? What would you add to your hierarchy of media?</strong></b>
<br>
<p>Based off of the ideas I've understood from different assignments I feel that the hierarchy I displayed in assignment 1 is more or less similar,
    it is really interesting to see different perspectives on media and regularly used applications. If I were to change anything I would include podcasts as well,
    although I don't enjoy them that is certainly a growing trend.
</p>

<a href="" onclick="self.close()" >Back to home</a>

<script language="javascript" type="text/javascript">
    function windowClose() {
    window.open('','_parent','');
    window.close();
    }
    </script>